# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
[defaults]
ansible_ssh_private_key_file = /home/gekasologub/.ssh/id_ed25519
host_key_checking = False 
# по возможности исключить

inventory = inventory 
# расположение файла inventory
remote_user = gekasologub
# пользователь, которым подключаемся по ssh
gathering = explicit
# отключает сбор фактов
# количество хостов, на которых текущая задача выполняется одновременно
forks = 5
[privilege_escalation]
become = True 
# требуется повышение прав
become_user = root
# пользователь, под которым будут выполняться задачи
become_method = sudo 
# способ повышения прав


